/* nav */
nav{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  nav .link{
    margin-right: 1.4rem;
    text-decoration: none;
  }

  nav .active{
    color: yellowgreen;
  }